In [1]:
import pandas as pd
import datetime
import numpy as np
import string
import time
import scipy.stats as stats
import random
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
Demo_1 = ("target_files/nbhd_race_sql.csv")
Demo_2 = ("target_files/MLS_Income_by_Neighborhoods.csv")
Demo_3 = ("target_files/cmnty_race_sql.csv")
Demo_4 = ("target_files/MLS_Income_by_Community.csv")
Force = ("target_files/MLS_Police_Use_Of_Force_Cleaned_Data.csv")
Incident = ("target_files/Police_Incidents.csv")
Neigh = ("target_files/MLS_Neighborhoods.csv")
corr = ("target_files/Neighborhood_forCorr.csv")

In [3]:
Race_N = pd.read_csv(Demo_1)
Income_N = pd.read_csv(Demo_2)
Race_C = pd.read_csv(Demo_3)
Income_C = pd.read_csv(Demo_4)
Force_df = pd.read_csv(Force)
Incident_df = pd.read_csv(Incident)
N_ID = pd.read_csv(Neigh)
corr_df = pd.read_csv(corr)

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
N_ID = N_ID.drop(columns=["community_id"])
#N_ID

In [5]:
Force_df['count']=1

In [6]:
Force_df['count'].sum(axis = 0, skipna = True)

30054

In [7]:
na_neigh = Force_df[Force_df['neighborhood'].isnull( )]
#na_neigh

In [8]:
Incident_df['count'] =1

# Demo Table Cleanup

In [9]:
income_final = pd.merge(Income_N, N_ID, on='neighborhood_id', how= 'left')
#income_final

In [10]:
income_final_2 = income_final.rename(columns={"name":"neighborhood"})
#income_final_2

In [11]:
race_final = pd.merge(Race_N, N_ID, on='neighborhood_id', how= 'left')
#race_final

In [12]:
race_final_2 = race_final[['name','white_pct','of_color_pct']]

In [13]:
race_final_2 = race_final_2.rename(columns={"name":"neighborhood"})

# Force Data Pivoting

In [14]:
FD_1 = pd.pivot_table(Force_df,index=['neighborhood','neighborhood_id'],values=['count'],aggfunc=[np.sum])

In [15]:
FD_1.head(1)

                               sum
                             count
neighborhood neighborhood_id
Armatage     1                  36

In [16]:
FD_1= FD_1.rename(columns={"sum":"police_force_incidents"})
FD_1.columns = FD_1.columns.map('_'.join)

In [17]:
FD_1.head(2)

                              police_force_incidents_count
neighborhood neighborhood_id
Armatage     1                                          36
Audubon Park 10                                        165

In [18]:
FD_Prob = pd.pivot_table(Force_df,index=['subject_race','neighborhood'],values=['count'],aggfunc=[np.sum])

In [19]:
FD_Prob

                               sum
                             count
subject_race neighborhood
Asian        Bancroft            2
             Bottineau           2
             Bryn Mawr           4
             Central             1
             Cleveland           3
...                            ...
not recorded Ventura Village     3
             Webber - Camden    14
             Whittier            6
             Willard - Hay       4
             Windom              1

[445 rows x 1 columns]

In [20]:
FD_Prob= FD_Prob.rename(columns={"sum":"police_force_incidents"})
FD_Prob.columns = FD_Prob.columns.map('_'.join)

In [21]:
FD_Prob.head(2)

                           police_force_incidents_count
subject_race neighborhood
Asian        Bancroft                                 2
             Bottineau                                2

In [22]:
sr_cor_3 = pd.pivot_table(Force_df,index=['neighborhood','subject_race'],values=['count'],aggfunc=[np.sum])

In [23]:
#sr_cor_3

In [24]:
sr_cor_3= sr_cor_3.rename(columns={"sum":"police_incidents"})
sr_cor_3.columns = sr_cor_3.columns.map('_'.join)
#sr_cor_3

In [25]:
sr_cor_3=sr_cor_3.reset_index()

In [26]:
#sr_cor_3['police_incidents_count'] = sr_cor_3['police_incidents_count'].fillna(0)

In [27]:
#sr_cor_3 
sr_cor_3 ['subject_race'] = sr_cor_3 ['subject_race'].replace(['Asian', 'Black','Native American','Other / Mixed Race','Pacific Islander'], 'POC')
sr_cor_3 ['subject_race'] = sr_cor_3 ['subject_race'].replace(['not recorded','Unknown'], 'NA')#sr_cor_3 ['subject_race'] = sr_cor_3 ['subject_race'].replace(['not recorded'], 'NA')

In [28]:
#sr_cor_6
sr_cor_6 = pd.pivot_table(sr_cor_3,index=['neighborhood'],columns=['subject_race'],values=['police_incidents_count'],aggfunc=[np.sum])

In [29]:
sr_cor_6= sr_cor_6.rename(columns={"sum":" "})
sr_cor_6.columns = sr_cor_6.columns.map('_'.join)

In [30]:
sr_cor_6=sr_cor_6.reset_index()

In [31]:
sr_cor_6.head(2)

,neighborhood,_police_incidents_count_NA,_police_incidents_count_POC,_police_incidents_count_White
0,Armatage,1.0,20.0,2.0
1,Audubon Park,4.0,89.0,59.0

In [32]:
neighborhood_table_2  = pd.merge(FD_1, income_final_2, on='neighborhood', how= 'left')

In [33]:
neigh_stats_final = neighborhood_table_2.drop(columns=['household_income_by_neighborhood_id','incomeless35000_count'
                                                      ,'incomeless35000_percent','incomeless35to49_count','incomeless35to49_percent',
                                                      'incomeless50to74_count','incomeless50to74_percent','incomeless75to99_count',
                                                      'incomeless75to99_percent','income100plus_count','income100plus_percent'])

In [34]:
neigh_stats_final.head()

,neighborhood,police_force_incidents_count,neighborhood_id,median_income_total
0,Armatage,36,1.0,125329.0
1,Audubon Park,165,10.0,67343.0
2,Bancroft,99,23.0,71456.0
3,Beltrami,118,NaN,NaN
4,Bottineau,96,NaN,NaN

In [35]:
sr_cor_6
#sr_cor_6['total'] = sr_cor_6.sum(axis=1)

,neighborhood,_police_incidents_count_NA,_police_incidents_count_POC,_police_incidents_count_White
0,Armatage,1.0,20.0,2.0
1,Audubon Park,4.0,89.0,59.0
2,Bancroft,4.0,61.0,21.0
3,Beltrami,NaN,69.0,36.0
4,Bottineau,1.0,55.0,27.0
...,...,...,...,...
81,West Calhoun,1.0,5.0,25.0
82,Whittier,25.0,432.0,220.0
83,Willard - Hay,16.0,883.0,73.0
84,Windom,3.0,46.0,44.0
85,Windom Park,NaN,65.0,61.0

In [36]:
for col in sr_cor_6: 
    print(col)

neighborhood
 _police_incidents_count_NA
 _police_incidents_count_POC
 _police_incidents_count_White

In [37]:
#sr_cor_6
sr_cor_6['total'] = sr_cor_6.sum(axis=1)

In [38]:
sr_cor_6['pct_POC']=sr_cor_6[' _police_incidents_count_POC']/sr_cor_6['total']
sr_cor_6['pct_White']=sr_cor_6[' _police_incidents_count_White']/sr_cor_6['total']

In [39]:
sr_cor_6.head(2)

,neighborhood,_police_incidents_count_NA,_police_incidents_count_POC,_police_incidents_count_White,total,pct_POC,pct_White
0,Armatage,1.0,20.0,2.0,23.0,0.869565,0.086957
1,Audubon Park,4.0,89.0,59.0,152.0,0.585526,0.388158

# Final StatsTable

In [40]:
statsTable = pd.merge(neigh_stats_final, race_final_2, on='neighborhood', how= 'left')

In [41]:
statsTable_sansNA = statsTable.dropna(subset=['white_pct','median_income_total'])

In [42]:
statsTable = statsTable.rename(columns={'(sum, count)':'police_force_incidents_count'})

In [43]:
statsTable.head()

,neighborhood,police_force_incidents_count,neighborhood_id,median_income_total,white_pct,of_color_pct
0,Armatage,36,1.0,125329.0,0.845,0.155051
1,Audubon Park,165,10.0,67343.0,0.788,0.211647
2,Bancroft,99,23.0,71456.0,0.734,0.266084
3,Beltrami,118,NaN,NaN,NaN,NaN
4,Bottineau,96,NaN,NaN,NaN,NaN

In [44]:
#rain.sort_values(by=['date'], ascending=True)
statsTable = statsTable.sort_values(by=['police_force_incidents_count'],ascending=False)

In [45]:
#rain.sort_values(by=['date'], ascending=True)
statsTable_sansNA = statsTable_sansNA.sort_values(by=['police_force_incidents_count'],ascending=False)

In [46]:
statsTable_sansNA = statsTable_sansNA.reset_index()

In [47]:
statsTable = statsTable.reset_index()

In [48]:
#statsTable_sansNA
#statsTable

In [49]:
statsTable_sansNA = statsTable_sansNA.drop(columns=['index','neighborhood_id'])
#statsTable_sansNA

In [50]:
statsTable = statsTable.drop(columns=['index','neighborhood_id'])

In [51]:
statsTable_sansNA.head(5)

,neighborhood,police_force_incidents_count,median_income_total,white_pct,of_color_pct
0,Downtown West,7680,60383.0,0.601,0.399480
1,Jordan,1428,45907.0,0.175,0.824694
2,Hawthorne,1301,40378.0,0.218,0.782065
3,Near - North,1278,47087.0,0.154,0.846016
4,Willard - Hay,985,62908.0,0.276,0.723618

# Statistics - Neighborhood

In [52]:
force_inc = statsTable_sansNA['police_force_incidents_count']

In [53]:
income = statsTable_sansNA['median_income_total']
color_pct = statsTable_sansNA['of_color_pct']
white_pct = statsTable_sansNA['white_pct']

In [54]:
correlation_1 = stats.pearsonr(force_inc, income)
correlation_2 = stats.pearsonr(force_inc, color_pct)
#correlation_3 = stats.pearsonr(force_inc, inc)
correlation_4 = stats.pearsonr(income, color_pct)
correlation_5 = stats.pearsonr(force_inc, white_pct)
#correlation_6 = stats.pearsonr(inc, color_pct)
#correlation_7 = stats.pearsonr(injured, color_pct_2)

print(f"The correlation between Use of Force & Income is {round(correlation_1[0],4)}")
print(f"The correlation between Use of Force & Percent of Color is {round(correlation_2[0],4)}")
print(f"The correlation between Use of Force & Percent White is {round(correlation_5[0],4)}")
print(f"The correlation between Income & Percent of Color for MPLS Neighborhoods is {round(correlation_4[0],4)}")

The correlation between Use of Force & Income is -0.2243
The correlation between Use of Force & Percent of Color is 0.3004
The correlation between Use of Force & Percent White is -0.3001
The correlation between Income & Percent of Color for MPLS Neighborhoods is -0.7086

In [55]:
print(round(correlation_1[0],4))
print(round(correlation_2[0],4))
#print(round(correlation_6[0],4))
#print(round(correlation_3[0],4))
print(round(correlation_5[0],4))
print(round(correlation_4[0],4))
#print(round(correlation_7[0],4))

-0.2243
0.3004
-0.3001
-0.7086

In [56]:
sr_cor_6.head(2)

,neighborhood,_police_incidents_count_NA,_police_incidents_count_POC,_police_incidents_count_White,total,pct_POC,pct_White
0,Armatage,1.0,20.0,2.0,23.0,0.869565,0.086957
1,Audubon Park,4.0,89.0,59.0,152.0,0.585526,0.388158

In [57]:
#sr_cor_6.to_csv("UGH.csv", index=False, header=True)
sr_cor_7 = sr_cor_6.dropna(subset=['pct_POC'])

In [58]:
sr_cor_7.head()

,neighborhood,_police_incidents_count_NA,_police_incidents_count_POC,_police_incidents_count_White,total,pct_POC,pct_White
0,Armatage,1.0,20.0,2.0,23.0,0.869565,0.086957
1,Audubon Park,4.0,89.0,59.0,152.0,0.585526,0.388158
2,Bancroft,4.0,61.0,21.0,86.0,0.709302,0.244186
3,Beltrami,NaN,69.0,36.0,105.0,0.657143,0.342857
4,Bottineau,1.0,55.0,27.0,83.0,0.662651,0.325301

In [59]:
FORCE_pcColor = sr_cor_7['pct_POC']
FORCE_pcWhite = sr_cor_7['pct_White']
FORCE_tTl = sr_cor_7['total']

In [60]:
correlation_8 = stats.pearsonr(FORCE_tTl, FORCE_pcColor)


print(f"The correlation between Use of Force & Subject Pct of Color is {round(correlation_8[0],4)}")

The correlation between Use of Force & Subject Pct of Color is 0.1831

In [61]:
statsTable_colorPop = statsTable_sansNA.loc[statsTable_sansNA['of_color_pct']>=.49]

In [62]:
#statsTable_colorPop

In [63]:
#statsTable_whitePop

In [64]:
statsTable_whitePop = statsTable_sansNA.loc[statsTable_sansNA['of_color_pct']<.49]

In [65]:
population_1 = statsTable_colorPop
population_2 = statsTable_whitePop

print(population_1.police_force_incidents_count.mean())
print(population_2.police_force_incidents_count.mean())

767.0833333333334
382.04545454545456

In [66]:
#population_1

In [67]:
stats.ttest_ind(population_1.police_force_incidents_count, population_2.police_force_incidents_count, equal_var=False)

Ttest_indResult(statistic=1.8479909166787314, pvalue=0.0705238001975571)

# Statistcs - Force Data

In [68]:
FD_Prob = FD_Prob.reset_index()

In [69]:
FD_Prob.head(2)

  subject_race neighborhood  police_force_incidents_count
0        Asian     Bancroft                             2
1        Asian    Bottineau                             2

In [70]:
#p1 = FD_Prob.loc[FD_Prob['subject_race']=="POC"]
#p2= FD_Prob.loc[FD_Prob['subject_race']=="White"]

In [71]:
#p2

In [72]:
#print(p1.police_incidents_count.mean())
#print(p2.police_incidents_count.mean())

In [73]:
#stats.ttest_ind(p1.police_incidents_count, p2.police_incidents_count, equal_var=False)

In [74]:
p_Azn = FD_Prob.loc[FD_Prob['subject_race']=="Asian"]
p_Blk= FD_Prob.loc[FD_Prob['subject_race']=="Black"]
p_NA= FD_Prob.loc[FD_Prob['subject_race']=="Native American"]
p_Mix= FD_Prob.loc[FD_Prob['subject_race']=="Other / Mixed Race"]
p_White= FD_Prob.loc[FD_Prob['subject_race']=="White"]

In [75]:
p_Blk.head(2)

   subject_race  neighborhood  police_force_incidents_count
39        Black      Armatage                             9
40        Black  Audubon Park                            80

In [76]:
print(p_Azn.police_force_incidents_count.mean())
print(p_Blk.police_force_incidents_count.mean())
print(p_NA.police_force_incidents_count.mean())
print(p_Mix.police_force_incidents_count.mean())
print(p_White.police_force_incidents_count.mean())

10.717948717948717
210.14117647058825
21.242857142857144
14.931506849315069
81.5813953488372

In [77]:
stats.ttest_ind(p_Azn.police_force_incidents_count, p_White.police_force_incidents_count, equal_var=False)

Ttest_indResult(statistic=-3.0381431017441094, pvalue=0.003099836139189588)

In [78]:
stats.ttest_ind(p_Blk.police_force_incidents_count, p_White.police_force_incidents_count, equal_var=False)

Ttest_indResult(statistic=1.952995825416327, pvalue=0.053440710970622925)

In [79]:
stats.ttest_ind(p_NA.police_force_incidents_count, p_White.police_force_incidents_count, equal_var=False)

Ttest_indResult(statistic=-2.6005840010300396, pvalue=0.010876373194916512)

In [80]:
stats.ttest_ind(p_Mix.police_force_incidents_count, p_White.police_force_incidents_count, equal_var=False)

Ttest_indResult(statistic=-2.8918183344245554, pvalue=0.0048273752237824675)

# Exporting

In [81]:
#statsTable_sansNA['pct_force_incidents'] = statsTable_sansNA['pct_force_incidents'].astype(float).map("{:.2%}".format)
#statsTable_sansNA['white_pct'] = statsTable_sansNA['white_pct'].astype(float).map("{:.2%}".format)
#statsTable_sansNA['of_color_pct'] = statsTable_sansNA['of_color_pct'].astype(float).map("{:.2%}".format)

In [82]:
#statsTable['pct_force_incidents'] = statsTable['pct_force_incidents'].astype(float).map("{:.2%}".format)
statsTable['white_pct'] = statsTable['white_pct'].astype(float).map("{:.2%}".format)
statsTable['of_color_pct'] = statsTable['of_color_pct'].astype(float).map("{:.2%}".format)

In [83]:
statsTable_sansNA['median_income_total'] = statsTable_sansNA['median_income_total'].apply(lambda x: "${:.1f}k".format((x/1000)))
statsTable['median_income_total'] = statsTable['median_income_total'].apply(lambda x: "${:.1f}k".format((x/1000)))

In [84]:
#statsTable_sansNA.head(2)
#statsTable_sansNA.dtypes()

In [85]:
#statsTable_sansNA = statsTable_sansNA.rename(columns={''})

In [86]:
statsTable.to_csv("target_files/statsTable.csv", index=False, header=True)
statsTable_sansNA.to_csv("target_files/statsTable_sansNA.csv", index=False, header=True)

In [87]:
FD_1.to_csv("target_files/forceCountQA.csv", index=True, header=True)